@model ShoppingApp.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Checkout";
}

<form asp-action="Checkout">
    @if (Model.Addresses.Any())
    {
        @foreach(var address in Model.Addresses)
        {
        <div class="card">
            <div class="card-header">
                Address
            </div>
            <div class="card-body">
                <div>
                    <span> @Html.DisplayNameFor(modelItem => address.Street): </span>
                    <span>@Html.DisplayFor(modelItem => address.Street)</span>
                </div>
                <div>
                    <span> @Html.DisplayNameFor(modelItem => address.Street2): </span>
                    <span>@Html.DisplayFor(modelItem => address.Street2)</span>
                </div>
                <div>
                    <span> @Html.DisplayNameFor(modelItem => address.City): </span>
                    <span>@Html.DisplayFor(modelItem => address.City)</span>
                </div>
                <div>
                    <span> @Html.DisplayNameFor(modelItem => address.Country): </span>
                    <span>@Html.DisplayFor(modelItem => address.Country)</span>
                </div>
                <div>
                    <span> @Html.DisplayNameFor(modelItem => address.ZipCode): </span>
                    <span>@Html.DisplayFor(modelItem => address.ZipCode)</span>
                </div>

            </div>
            <div class="card-footer">
                @Html.ActionLink("Edit", "Edit", "Address",new {addressId = address.Id})
                    <span class="mx-1">Use this address:</span>
                    <input class="" type="radio" asp-for="AddressId" value="@address.Id" name="AddressId"/>
            </div>
        </div>
        
            
        }

    }
    else
    {
      <span>You account does not have an address.</span>
      <span>Add one to place an order.</span>
      @Html.ActionLink("Create", "Create", "Address", new {userId = ViewBag.UserId})
    }



    <container class="checkout-container">
        @foreach(var cartItem in Model.CartItems)
        {
            <div class="card checkout-product-card">
                <div class="card-header">
                    <span>@Html.DisplayFor(modelItem => cartItem.Product.Name)</span>
                </div>
                <img 
                src="@Html.DisplayFor(modelItem=> cartItem.ImgUrl)" 
                class="card-img"
                >
                <div class="card-body">

                </div>
                <div class="card-footer d-flex">
                    <span>$@Html.DisplayFor(modelItem => cartItem.Product.Price)</span>
                    <div class="ml-auto">
                
                        <a  asp-area="" asp-controller="OrderViewModel"
                        asp-action="IncreaseItem" 
                        asp-route-cartItemId="@cartItem.CartItemId"
                        class="m-1 no-tdl btn btn-primary"
                        >
                        +1
                        </a>
                        <a asp-area="" asp-controller="OrderViewModel"
                        asp-action="DecreaseItem" 
                        asp-route-cartItemId="@cartItem.CartItemId"
                        class="m-1 no-tdl  btn btn-outline-danger">
                        -1
                        </a>
                        <a asp-area="" asp-controller="OrderViewModel"
                        asp-action="RemoveItem" 
                        asp-route-cartItemId="@cartItem.CartItemId"
                        class="m-1 no-tdl btn btn-danger">
                        Remove all
                        </a>
                        <span>
                            <b>
                                <span>@Html.DisplayFor(modelItem => cartItem.Quantity)</span>  
                            </b>
                            in cart
                        </span> 
                    </div>
                </div>
            </div>
        }
    </container>
 
    @if(@ViewBag.TotalPrice != 0)
    {
        <div class="form-group">
            <label>
                Total Price: $
                <span>@ViewBag.TotalPrice</span>
            </label>
            <input type="submit" value="Continue" class="btn btn-primary"/>
        </div>
        }
        else
        {
        <div class="d-flex flex-column m-1">
            <span>
                You have no items in your cart. Start shopping to start ordering!
            </span>
            @Html.ActionLink("Go to products page", "Index", "ProductViewModel")
        </div>
    }
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>