@model ShoppingApp.Models.Order



<div>
    Order successfully placed!
</div>


<div class="d-flex flex-column m-1 p-1">
    <div>
        <a href="@Url.ActionLink("Index","ProductViewModel")">
            Continue shopping
        </a>
    </div>

    <div>
        <a href="@Url.ActionLink("Index","OrderArchiveViewModel")">
           View Orders
        </a>
    </div>
</div>
<div class="d-flex flex-column m-1 p-1">
    <span>Order Total : $ @Model.TotalPrice</span>
    <span> You ordered:</span>
</div>

<container class="product-container">
    @foreach(var item in  Model.OrderItems)
    {
        <div class="card m-1 ">
            <div class="card-header bg-primary text-white">
                @Html.DisplayFor(modelItem => item.ProductName)
            </div>
              <img
                  class="card-img"
                  src="@Html.DisplayFor(modelItem=> item.ImgUrl)"
              >
        
            <div class="card-body">
             
            </div>
            <div class="card-footer d-flex">
                <span>
                     (@Html.DisplayFor(modelItem => item.Quantity))
                 </span>
                <span class="ml-auto">
                    $@Html.DisplayFor(modelItem => item.UnitPrice)
                </span>

            </div>
        </div>
    }
 </container>