@model ShoppingApp.Models.Order



<div>
    Order successfully placed!
</div>


<div class="d-flex flex-column m-1 p-1">
    <div>
        <a href="@Url.ActionLink("Index","ProductViewModel")">
            Continue shopping
        </a>
    </div>

    <div>
        <a href="@Url.ActionLink("Index","OrderArchiveModel")">
           View Orders
        </a>
    </div>
</div>
<div class="d-flex flex-column m-1 p-1">
    <span>Order Total : $ @Model.TotalPrice</span>
    <span> You ordered:</span>
</div>

@foreach(var item in  Model.OrderItems)
{
    <div class="card m-1">
        <div class="card-header">
            @Html.DisplayFor(modelItem => item.ProductName)
        </div>
        <div class="card-img">
          <img src="@Html.DisplayFor(modelItem=> item.ImgUrl)" height="400">
        </div>
        <div class="card-body">
             <span> Purchased @Html.DisplayFor(modelItem => item.Quantity)</span>
        </div>
        <div class="card-footer">
            <span>$@Html.DisplayFor(modelItem => item.UnitPrice)</span>

        </div>
    </div>
}