@model ShoppingApp.ViewModels.OrderArchiveViewModel

@{
    ViewData["Title"] = "Orders";
}


@if (ViewBag.HasPrevious)
{
    <a href="@Url.Action("Index", new {page = ViewBag.Page - 1 })"
    class="m-1 btn btn-primary">
        Previous
    </a>
}
@if (ViewBag.HasNext)
{
    <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })"
    class="m-1 btn btn-primary">
        Next
    </a>
}
@if(Model.Orders.Count == 0)
{
    <div>
        <span>
            You have not made any orders. Head over to the cart page to make an order.
        </span>
        <div class="my-2">
            <a asp-action="Checkout" asp-controller="OrderViewModel" 
            class="btn btn-primary">Go to Cart</a>
        </div>
    </div>
}

<container class="archive-container">
    @foreach( var order in Model.Orders) 
    {
        <div class="card m-2">
            <div class="card-header d-flex">
                <span> Ordered on : @order.OrderDate.ToShortDateString()</span>
                <span class="ml-auto"> Total: $@order.TotalPrice </span>
            </div>
            <div class="card-body">
                <container class="archive-product-container">
                @foreach ( var orderItem in order.OrderItems)
                {
                    <div class="card archive-item m-1">
                        <div class="card-header"> 
                            <span>@Html.DisplayFor( modelItem => orderItem.ProductName)</span>
                        </div>
                        <img class="card-img" src="@Html.DisplayFor(modelItem => orderItem.ImgUrl)">
                        <div class="card-body">
                        </div>
                        <div class="card-footer"> 
                            <div class="d-flex">
                                <span>(@Html.DisplayFor( modelItem => orderItem.Quantity))</span>
                                <span class="ml-auto">$@Html.DisplayFor( modelItem => orderItem.UnitPrice) per item</span>
                            </div>
                        </div>
                    </div>
                }
                </container>
            </div>
            <div class="card-footer">
                <div class="d-flex">
                    <a href="@Url.Action("Details", new{ orderId = order.Id})"
                    class="m-1 btn btn-outline-info">
                    Details
                    </a>
                </div>
            </div>
        </div>
    }
</container>
@if (ViewBag.HasPrevious)
{
    <a href="@Url.Action("Index", new {page = ViewBag.Page - 1 })"
    class="m-1 btn btn-primary">
        Previous
    </a>
}
@if (ViewBag.HasNext)
{
    <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })"
    class="m-1 btn btn-primary">
        Next
    </a>
}