@model IEnumerable<ShoppingApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@foreach(var product in Model){
    <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-img">
            <img src="@Html.DisplayFor(modelItem=> product.ImgUrl)">
        </div>

        <div class="card-body">
            <span>@Html.DisplayFor(modelItem => product.Name)</span>
            <span>@Html.DisplayFor(modelItem => product.Description)</span>
            <div class="btn">
            <a  asp-area="" asp-controller="Products"
            asp-action="AddItemToCart" asp-route-ProductId="@product.Id">Add to Cart</a>
                @if ()
                {
                    <a  asp-area="" asp-controller="Products"
            asp-action="RemoveItemFromCart" asp-route-ProductId="@product.Id">Remove from Cart</a>
                }
            </div>
        </div>
    </div>
}